.fildset {
  display: flex;
  margin-bottom: 32px;
  padding: 6px 0 7px 0;
}

.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.select {
  border: none;
  border-bottom: 1px solid black;
  font-family: Rubik;
  height: 37px;
  margin-top: 4px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  appearance: none;
  background: url(./../../assets/arrow.png) no-repeat right;
}

.select option {
  color: #000;
}

.selectGrey {
  color: #a3a6a9;
}

.unit {
  display: flex;
  width: 38.96%;
  flex-direction: column;
  margin-right: 19px;
}

.inputField {
  border: none;
  border-bottom: 1px solid black;
  font-family: Rubik;
  height: 37px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.inputField::placeholder {
  color: #a3a6a9;
}

.clearButton {
  padding: 0;
  margin-bottom: 10px;
  margin-left: auto;
  align-self: flex-end;
  border: none;
  background-color: #fff;
  color: #a3a6a9;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}

.clearButton:hover {
  color: #47494b;
  cursor: pointer;
}

.closeIcon {
  margin-left: 12px;
}

.vacanciesList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 21px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.showMoreButton {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .fildset {
    flex-direction: column;
    gap: 16px;
  }

  .unit {
    width: 100%;
  }

  .clearButton {
    margin: 0;
    align-self: flex-start;
  }

  .vacanciesList {
    margin-bottom: 8px;
    gap: 18px;
  }

  .select {
    margin-top: 0;
  }

  .clearButton {
    margin-top: 4px;
  }

  .fildset {
    gap: 16px;
    padding-bottom: 0;
  }
}
